@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&family=Montserrat:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poltawski+Nowy:wght@700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  min-height: 100vh;
  overflow-x: hidden;
}

a {
  font-weight: 500;
  color: #fff;
  text-decoration: inherit;
}

a:hover {
  color: #2e2e2e;
}

a.text-white:hover {
  color: #fff;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

@media (max-width: 640px) {
  h1 {
    font-size: 2.2em;
  }
}

h2 {
  font-size: 2.2em;
  line-height: 1.1;
}

h1,
h2 {
  font-family: 'Archivo', sans-serif;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: white;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  button {
    /* background-color: #f9f9f9; */
  }
}

/* nav */
nav::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  z-index: -1;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.40940126050420167) 0%, rgba(0, 0, 0, 0) 100%);
}

/* layout */
.container {
  max-width: 1330px;
  margin-left: auto;
  margin-right: auto;
}

#hero {
  font-family: 'Archivo', sans-serif;
}

.drone-bg {
  background-image: url('https://dji-official-fe.djicdn.com/cms/uploads/a9b0636a0208b6467b18abcf6f8bb06d.jpg');
  background-size: cover;
  background-position: center;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.shadow-filter {
  --shadow-filter-color: rgba(0, 0, 0, 0.7);
  filter: drop-shadow(0 0 1rem var(--shadow-filter-color))
}

.shadow-full-opacity {
  --shadow-filter-color: rgba(0, 0, 0, 1);
}

.drone-video {
  z-index: -1;
}

video {
  max-width: none;
}

@media (max-width: 768px) {
  .menu {
    display: block;
  }
}

#menu a::before {
  content: '';
  width: 100%;
  height: 5px;
  background-color: #fff;
}

/* footer */
.sudkit {
  font-family: 'Poltawski Nowy', serif;
}